#hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--sub-spacer);
}
.tags-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.tag {
    padding: .25rem 1rem;
    /* background-image: linear-gradient(to bottom right, #341A31, #20101E); */
    background: linear-gradient(to bottom right, #341A31, #20101E) padding-box,
                linear-gradient(to bottom right, #461a41, #510c47) border-box;
    border: 2px solid transparent;
    border-radius: .25rem;
}