.grid-item-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    overflow: hidden;
}
.grid-item-wrapper:first-child {
    grid-column: span 2;
}
.grid-item-wrapper:hover {
    scale: 1.025; 
    /* box-shadow: 0 0 1rem rgb(37, 37, 37); */
    box-shadow: 0 0 1rem rgba(255, 127, 80, 0.5);
    border: 1px solid silver;
    border: .1rem solid coral;
}
.grid-item {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    /* border-radius: .5rem; */
    overflow: hidden;
    color: black;
    text-decoration: none;
    background-image: linear-gradient(to bottom right, var(--light-bg), var(--dark-bg))
}


.grid-item-image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--item-background);
}
.grid-item-image-wrapper img {
    object-fit: cover;
}


.grid-item .name {
    position: absolute;
    /* right: 5%;
    bottom: 5%;
    font-size: .8rem;
    padding: .25rem;
    border-radius: .25rem; */
    right: 0%;
    bottom: 0%;
    font-size: .8rem;
    padding: .5rem;
    border-radius: .5rem 0 0;
    background-color: var(--item-background);
    color: white;
}

.tools-wrapper {
    position: absolute;
    bottom: 2%;
    left: 2%;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.tool-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: .5rem;
    padding: .5rem;
    width: 2.25rem;
    height: 2.25rem;
    background-color: var(--item-background);
}
.tool-image-wrapper img {
    width: 90%;
}

.github-link {
    position: absolute;
    top: 2.5%;
    right: 2.5%;
    width: 2rem;
    height: 2rem;
    border-radius: .25rem;
    /* background-color: white; */
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.github-link svg {
    fill: white;
    width: 75%;
    height: 75%;
}


@media screen and (max-width: 450px) {
    .grid-item-wrapper .tools-wrapper {
        top: 2%;
        bottom: initial;
    }
    .tool-image-wrapper {
        width: 1.75rem;
        height: 1.75rem;
    }
}