.grid-item-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    overflow: hidden;
    transition: .2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.grid-item-wrapper:first-child {
    grid-column: span 2;
}
.grid-item-wrapper.ml-grid-item-wrapper:first-child {
    grid-column: initial;   
}
.grid-item-wrapper:hover {
    scale: 1.025;
    /* box-shadow: 0 0 1rem rgb(37, 37, 37); */
    box-shadow: 0 0 1rem rgba(255, 127, 80, 0.5);
    border: 1px solid silver;
    border: .1rem solid coral;
}
.grid-item-wrapper:active {
    scale: .95;
    /* box-shadow: 0 0 1.5rem rgba(255, 127, 80, 0.75); */
}
.grid-item {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    /* border-radius: .5rem; */
    overflow: hidden;
    color: black;
    text-decoration: none;
    background-image: linear-gradient(to bottom right, var(--light-bg), var(--dark-bg))
}
.grid-item.ml-grid-item {
    display: flex;
    width: 100%;
}
/* .grid-item.ml-grid-item:has(.grid-item-image-wrapper:hover) .description-wrapper {
    width: 0%;
    overflow: hidden;
    padding: 0;
}
.grid-item.ml-grid-item:has(.grid-item-image-wrapper:hover) .grid-item-image-wrapper {
    width: 100%;
} */
.grid-item.ml-grid-item .grid-item-image-wrapper {
    width: 65%;
}
.grid-item.ml-grid-item .grid-item-image-wrapper img {
    object-position: 0;
}
.grid-item.ml-grid-item .description-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: .5rem;
    width: 35%;
    height: 100%;
    background-color: var(--item-background);
    overflow-y: auto;
    color: rgba(255, 255, 255, 0.8);
}
.ml-grid-item .ml-project-name {
    color: white;
    font-size: 1rem;
}
.ml-grid-item .ml-project-description {
    font-size: .9rem;
}

.grid-item-image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--item-background);
}
.grid-item-image-wrapper img {
    object-fit: cover;
}


.grid-item .name {
    position: absolute;
    /* right: 5%;
    bottom: 5%;
    font-size: .8rem;
    padding: .25rem;
    border-radius: .25rem; */
    right: 0%;
    bottom: 0%;
    font-size: .8rem;
    padding: .5rem;
    border-radius: .5rem 0 0;
    background-color: var(--item-background);
    color: white;
}

.tools-wrapper {
    position: absolute;
    /* bottom: 2%;
    left: 2%; */
    bottom: .5rem;
    left: .5rem;
    display: flex;
    align-items: center;
    gap: .75rem;
}
.tool-text {
    font-size: .8rem;
    color: white;
    padding: .25rem;
    border-radius: .25rem;
    background-color: var(--item-background);
    border: .1rem solid rgb(170, 170, 170);
}
.tool-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: .3rem;
    padding: .5rem;
    width: 2.25rem;
    height: 2.25rem;
    /* background-color: var(--item-background); */
    /* background-color: white; */
    /* background-image: linear-gradient(to bottom right, coral, white); */
    /* background-color: coral; */

    background-color: var(--item-background);
    border: .1rem solid rgb(170, 170, 170);
}
.tool-image-wrapper img {
    width: 100%;
}

.github-link {
    position: absolute;
    /* top: 2.5%;
    right: 2.5%; */
    top: .5rem;
    right: .5rem;
    width: 2rem;
    height: 2rem;
    border-radius: .25rem;
    /* background-color: white; */
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.github-link:active {
    scale: .9;
}

.github-link svg {
    fill: white;
    width: 75%;
    height: 75%;
}


@media screen and (max-width: 450px) {
    .grid-item.ml-grid-item {
        flex-direction: column;
    }
    .grid-item.ml-grid-item .grid-item-image-wrapper {
        height: 50%;
        width: 100%;
    }
    .grid-item.ml-grid-item .description-wrapper {
        width: 100%;
        height: 50%;
    }
    .ml-grid-item .ml-grid-item-description {
        font-size: .9rem;
    }
    .grid-item.ml-grid-item:hover .description-wrapper {
        width: 100%;
        overflow: initial;
        overflow-y: auto;
        padding: .5rem;
    }
    .grid-item.ml-grid-item:hover .grid-item-image-wrapper {
        width: 100%;
    }
    .grid-item-wrapper .tools-wrapper {
        top: 2%;
        bottom: initial;
    }
    .tool-image-wrapper {
        width: 1.75rem;
        height: 1.75rem;
    }
}