/* @import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --max-width: 80rem;
  /* --dark-bg: rgb(20, 20, 20); */
  /* --dark-bg: rgb(33, 26, 24); */
  --dark-bg: rgb(24, 12, 7);
  --light-bg: rgb(19, 19, 27);
  --item-background: rgb(70, 70, 70);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans';
  scroll-behavior: smooth;
  transition: .2s;
}
* {
  scrollbar-width: thin;
  /* scrollbar-color: rgb(56, 56, 56) black; */
  scrollbar-color: coral rgb(255, 179, 152);
}
*::-webkit-scrollbar {
  width: .25rem;
  overflow: hidden;
}
*::-webkit-scrollbar-track {
  background-color: rgb(255, 179, 152);
}
*::-webkit-scrollbar-thumb {
  background-color: coral;
}

body {
  min-height: 100vh;
  /* background-image: linear-gradient(to bottom right, var(--light-bg), var(--dark-bg)); */
  /* background-image: linear-gradient(to bottom right, var(--dark-bg), var(--light-bg)); */
  background-image: linear-gradient(to bottom, var(--dark-bg), var(--light-bg));
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 0 0 1rem;
}
main > section:not(#hero-section) {
  width: 90%;
  max-width: var(--max-width);
  /* padding: 0 0 2rem; */
  padding: 1rem 0;
}


h2, h3, h4, h5, h6 {
  color: rgb(210, 210, 210);
  background-image: linear-gradient(to bottom right, coral, rgb(210, 210, 210)); 
  background-size: 100%;
  background-clip: text;
  color: transparent;
  text-align: center;
}

h1 {
  /* font-family: 'Scriptina'; */
  /* font-family: 'Parisienne'; */
  font-family: 'Poppins';
  font-size: clamp(1rem, 7.5vw, 7.5rem);
  font-weight: 700;
  text-align: center;
  color: rgb(255, 118, 68);
}
.descriptive-text {
  color: white;
  text-align: center;
  width: 90%;
  max-width: 40rem;
}


@keyframes bob {
  0% {
    translate: 0% 25%;
  }
  50% {
    translate: 0% 50%;
  }
  100% {
    translate: 0% 25%;
  }
}