@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

:root {
  --max-width: 80rem;
  --light-bg: rgb(20, 20, 20);
  --dark-bg: rgb(12, 12, 12);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans';
  transition: .2s;
}


body {
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, var(--light-bg), var(--dark-bg));
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
}
main > section {
  width: 90%;
  max-width: var(--max-width);
  padding: 0 0 2rem;
}


h1, h2, h3, h4, h5, h6 {
  color: white;
  text-align: center;
}

h1 {
  /* font-family: 'Scriptina'; */
  font-family: 'Parisienne';
  font-size: clamp(2rem, 5vw, 7.5rem);
}